<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>

    <add key="fechaActual" value="17/12/2017" />

  </appSettings>
  <connectionStrings>
    <add name="PagoAgil.Properties.Settings.GD2C2017ConnectionString" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD2C2017;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>